.Personal-Info {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 40px 30px;
  color: var(--Marine-blue);
}

.Personal-Info-Title {
  font-weight: 900;
  font-size: 3.5rem;
  color: var(--Marine-blue);
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.Personal-Info-Input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--Light-gray);
  border-radius: 5px;
  font-weight: 500;
  color: var(--Marine-blue);
}

.Personal-Info-Input:focus {
  outline: none !important;
  border: 1px solid var(--Purplish-blue);
  background-color: transparent;
}

.Personal-Info-Footer-Buttons {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
