.Pick-Addons {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 40px 30px;
  color: var(--Marine-blue);
}
.Pick-Addons-Title {
  font-weight: 900;
  font-size: 3.5rem;
  color: var(--Marine-blue);
  margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.Label-Title {
  color: var(--Marine-blue);
  font-weight: 900;
}

.Label-Description {
  color: var(--Cool-gray);
  font-weight: 700;
}

.Pick-Addons-Checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  width: 500px;
  height: 80px;
  border: 1px solid var(--Marine-blue);
  border-radius: 10px;
}

.Pick-Addons-Labels {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
