:root {
  --font-family: "Mukta", sans-serif;
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Marine-blue: hsl(213, 96%, 18%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
.App {
  height: 65vh;
  width: 45vw;
  margin: 8% 25%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}
p {
  margin: 0;
  font-size: 16px;
}
