:root {
  --font-family: "Mukta", sans-serif;
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Marine-blue: hsl(213, 96%, 18%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
.App {
  height: 65vh;
  width: 45vw;
  margin: 8% 25%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
}
p {
  margin: 0;
  font-size: 16px;
}

.Footer-Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.Go-Back-Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--Cool-gray);
  cursor: pointer;
  height: 50px;
  width: 75px;
  background-color: transparent;
  border: none;
}

.Go-Back-Button:hover {
  color: var(--Marine-blue);
  font-weight: 700;
}

.Next-Step-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Marine-blue) !important;
  cursor: pointer;
  height: 40px;
  width: 100px;
  background-color: transparent;
  border: none;
  border-radius: 7px;
}
